body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
    font-weight: 500;
}

p {
    text-align: justify;
    font-size: 20px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 80%;
}

.link-button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 20px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}

.experiece-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.box-shadow {
    box-shadow: 0 8px 6px -6px gray;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    background-position: left;
    background-repeat: no-repeat;

}

footer p {
    text-align: center;
}

#web-dev-exp {
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan) 30;
    border-image-slice: 1;
}

#web-dev {
    border-left: 10px solid;
    border-image: linear-gradient(purple, rgb(236, 75, 75)) 30;
    border-image-slice: 1;
}